a {
  color: black;
  text-decoration: none; /* no underline */
}

/* navbar */

#navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#title {
  font-size: 3vw;
  font-weight: 500;
}

#svg-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#cart-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Drop-Down-Button */
#App {
  font-family: "Courier New", Courier, monospace;
}

#dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-items {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-clickables {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Drop-Down-Button */

/* navbar */

/* Product View */

.products-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2em;
}

#clothing-items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

#clothing-grid-price-and-title {
  display: flex;
  gap: 2em;
}

.sale-price {
  text-decoration: line-through;
}

.article-img-container {
  position: relative;
  width: 300px;
  height: 450px;
}

.article-img {
  display: block;
  width: 100%;
  height: auto;
}

.red-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 125px solid red;
  border-left: 125px solid transparent;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  top: -300%;
  transform: translate(-85%, -450%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Product View */

/* Product Page */

#product-page-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2em;
  grid-gap: 1em;
}

#product-page-image {
  display: flex;
  gap: 1em;
}

#product-page-buttons {
  position: sticky;
  top: 0;
}

/* Product Page */

/* Checkout Page */

#checkout-page {
  display: flex;
  justify-content: space-around;
}

.checkout-item {
  display: flex;
  align-items: flex-start;
  gap: 4em;
}

.checkout-item-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name-and-price {
  display: flex;
  gap: 2em;
}

.color-and-size {
  display: flex;
  gap: 2em;
}

.quantity-and-remove {
  display: flex;
  gap: 2em;
}

/* Checkout Page */
